In [3]:
import pandas as pd

In [4]:
file_path = '/Users/spiderman/Documents/GitHub/Assignment2_PDS/raw_data/train.csv'
df = pd.read_csv(file_path)

In [5]:
print("Missing values in each column:\n", df.isnull().sum())

Missing values in each column:
 Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [6]:
# Remove non-numeric characters from columns with units and convert them to numeric
df['Mileage'] = df['Mileage'].str.replace(' kmpl', '').str.replace(' km/kg', '').astype(float)
df['Engine'] = df['Engine'].str.replace(' CC', '').str.replace(' cc', '').astype(float)
df['Power'] = df['Power'].str.replace(' bhp', '').astype(float)

In [7]:
df['Mileage'].fillna(df['Mileage'].median(), inplace=True)  # Median for Mileage
df['Engine'].fillna(df['Engine'].median(), inplace=True)    # Median for Engine
df['Power'].fillna(df['Power'].median(), inplace=True)      # Median for Power
df['Seats'].fillna(df['Seats'].mode()[0], inplace=True)     # Mode for Seats

/var/folders/vk/8ql96cx95jn9rn3rfbthkb0c0000gn/T/ipykernel_64855/1553386043.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage'].fillna(df['Mileage'].median(), inplace=True)  # Median for Mileage
/var/folders/vk/8ql96cx95jn9rn3rfbthkb0c0000gn/T/ipykernel_64855/1553386043.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine'].fillna(df['Engine'].median(), inplace=True)    # Median for Engine
/var/folders/vk/8ql96cx95jn9rn3rfbthkb0c0000gn/T/ipykernel_64855/1553386043.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Power'].fillna(df['Power'].median(), inplace=True)      # Median for Power
/var/folders/vk/8ql96cx95jn9rn3rfbthkb0c0000gn/T/ipykernel_64855/1553386043.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Seats'].fillna(df['Seats'].mode()[0], inplace=True)     # Mode for Seats

In [8]:
df.drop(columns=['New_Price'], inplace=True)

In [9]:
clean_data_path = '/Users/spiderman/Documents/GitHub/Assignment2_PDS/clean_data/train_clean.csv'
df.to_csv(clean_data_path, index=False)

In [10]:
print(f"Cleaned data saved to: {clean_data_path}")

Cleaned data saved to: /Users/spiderman/Documents/GitHub/Assignment2_PDS/clean_data/train_clean.csv

In [11]:
clean_data_path = '/Users/spiderman/Documents/GitHub/Assignment2_PDS/clean_data/train_clean.csv'
df = pd.read_csv(clean_data_path)

In [15]:
# Ensure 'Mileage', 'Engine', and 'Power' are strings before replacing units
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl', '').str.replace(' km/kg', '').astype(float)
df['Engine'] = df['Engine'].astype(str).str.replace(' CC', '').str.replace(' cc', '').astype(float)
df['Power'] = df['Power'].astype(str).str.replace(' bhp', '').astype(float)

In [16]:
if 'New_Price' in df.columns:
    df['New_Price'] = df['New_Price'].str.replace(' lakh', '').astype(float)

In [40]:
clean_data_path_no_units = '/Users/spiderman/Documents/GitHub/Assignment2_PDS/results/train_clean_no_units.csv'
df.to_csv(clean_data_path_no_units, index=False)

In [18]:
print(f"Data with units removed saved to: {clean_data_path_no_units}")

Data with units removed saved to: /Users/spiderman/Documents/GitHub/Assignment2_PDS/clean_data/train_clean_no_units.csv

In [19]:
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [20]:
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual
0               False             False                 True
1               False              True                 True
2               False             False                 True
3               False             False                False
4               False             False                 True

In [21]:
from datetime import datetime

In [22]:
current_year = datetime.now().year

In [23]:
df['Car_Age'] = current_year - df['Year']

In [24]:
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  Car_Age
0               False             False                 True        9
1               False              True                 True       13
2               False             False                 True       12
3               False             False                False       11
4               False             False                 True       11

In [25]:
file_path = '/Users/spiderman/Documents/GitHub/Assignment2_PDS/clean_data/train_clean.csv'
df = pd.read_csv(file_path)

In [26]:
selected_df = df[['Name', 'Mileage', 'Engine', 'Power', 'Seats']]
print("Selected columns:\n", selected_df.head())

Selected columns:
                                Name  Mileage  Engine   Power  Seats
0  Hyundai Creta 1.6 CRDi SX Option    19.67  1582.0  126.20    5.0
1                      Honda Jazz V    13.00  1199.0   88.70    5.0
2                 Maruti Ertiga VDI    20.77  1248.0   88.76    7.0
3   Audi A4 New 2.0 TDI Multitronic    15.20  1968.0  140.80    5.0
4            Nissan Micra Diesel XV    23.08  1461.0   63.10    5.0

In [27]:
filtered_df = df[(df['Mileage'] > 20) & (df['Seats'] == 5)]
print("Filtered rows:\n", filtered_df.head())

Filtered rows:
     Unnamed: 0                                 Name Location  Year  \
4            6               Nissan Micra Diesel XV   Jaipur  2013
6            8  Volkswagen Vento Diesel Comfortline     Pune  2013
7            9       Tata Indica Vista Quadrajet LS  Chennai  2012
8           10                     Maruti Ciaz Zeta    Kochi  2018
10          12                Maruti Swift VDI BSIV   Jaipur  2015

    Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
4               86999    Diesel       Manual      First    23.08  1461.0
6               64430    Diesel       Manual      First    20.54  1598.0
7               65932    Diesel       Manual     Second    22.30  1248.0
8               25692    Petrol       Manual      First    21.56  1462.0
10              64424    Diesel       Manual      First    25.20  1248.0

     Power  Seats  Price
4    63.10    5.0   3.50
6   103.60    5.0   5.20
7    74.00    5.0   1.95
8   103.25    5.0   9.95
10   74.00    5.0   5.60

In [28]:
renamed_df = df.rename(columns={'Power': 'Horsepower', 'Engine': 'Engine_CC'})
print("Renamed columns:\n", renamed_df.head())

Renamed columns:
    Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine_CC  \
0              41000    Diesel       Manual      First    19.67     1582.0
1              46000    Petrol       Manual      First    13.00     1199.0
2              87000    Diesel       Manual      First    20.77     1248.0
3              40670    Diesel    Automatic     Second    15.20     1968.0
4              86999    Diesel       Manual      First    23.08     1461.0

   Horsepower  Seats  Price
0      126.20    5.0  12.50
1       88.70    5.0   4.50
2       88.76    7.0   6.00
3      140.80    5.0  17.74
4       63.10    5.0   3.50

In [29]:
df['Power_to_Weight_Ratio'] = df['Power'] / df['Engine']
print("Mutated data with Power_to_Weight_Ratio:\n", df[['Name', 'Power', 'Engine', 'Power_to_Weight_Ratio']].head())

Mutated data with Power_to_Weight_Ratio:
                                Name   Power  Engine  Power_to_Weight_Ratio
0  Hyundai Creta 1.6 CRDi SX Option  126.20  1582.0               0.079772
1                      Honda Jazz V   88.70  1199.0               0.073978
2                 Maruti Ertiga VDI   88.76  1248.0               0.071122
3   Audi A4 New 2.0 TDI Multitronic  140.80  1968.0               0.071545
4            Nissan Micra Diesel XV   63.10  1461.0               0.043190

In [30]:
arranged_df = df.sort_values(by='Mileage', ascending=False)
print("Data sorted by Mileage (descending):\n", arranged_df.head())

Data sorted by Mileage (descending):
       Unnamed: 0                   Name    Location  Year  Kilometers_Driven  \
864          892       Maruti Swift ZDI       Delhi  2012              52000
2361        2438       Maruti Dzire VDI   Hyderabad  2011             110000
2670        2759   Maruti Swift AMT VDI       Delhi  2018              11500
1208        1247       Maruti Swift VDI       Kochi  2017              34613
4198        4328  Maruti Swift DDiS VDI  Coimbatore  2019              41075

     Fuel_Type Transmission Owner_Type  Mileage  Engine  Power  Seats  Price  \
864     Diesel       Manual      First     28.4  1248.0  74.00    5.0   3.55
2361    Diesel       Manual      First     28.4  1248.0  73.75    5.0   4.00
2670    Diesel    Automatic      First     28.4  1248.0  74.00    5.0   7.50
1208    Diesel       Manual      First     28.4  1248.0  74.00    5.0   6.24
4198    Diesel       Manual      First     28.4  1248.0  74.00    5.0   8.40

      Power_to_Weight_Ratio
864                0.059295
2361               0.059095
2670               0.059295
1208               0.059295
4198               0.059295

In [31]:
summary_df = df.groupby('Seats').agg(
    Avg_Mileage=('Mileage', 'mean'),
    Avg_Power=('Power', 'mean')
).reset_index()
print("Grouped summary by Seats:\n", summary_df)

Grouped summary by Seats:
    Seats  Avg_Mileage   Avg_Power
0    2.0    12.487692  345.010769
1    4.0    17.316667  169.291828
2    5.0    18.820620  107.914078
3    6.0    15.858621  109.295862
4    7.0    14.652620  145.877784
5    8.0    13.234436  106.759474
6    9.0    13.526667   97.233333
7   10.0    13.767500   78.275000

In [32]:
results_path = "/Users/spiderman/Documents/GitHub/Assignment2_PDS/results/"

In [33]:
selected_df = df[['Name', 'Mileage', 'Engine', 'Power', 'Seats']]
selected_df.to_csv(results_path + "selected_columns.csv", index=False)
print("Saved selected columns to 'selected_columns.csv'")

Saved selected columns to 'selected_columns.csv'

In [34]:
filtered_df = df[(df['Mileage'] > 20) & (df['Seats'] == 5)]
filtered_df.to_csv(results_path + "filtered_rows.csv", index=False)
print("Saved filtered rows to 'filtered_rows.csv'")

Saved filtered rows to 'filtered_rows.csv'

In [35]:
renamed_df = df.rename(columns={'Power': 'Horsepower', 'Engine': 'Engine_CC'})
renamed_df.to_csv(results_path + "renamed_columns.csv", index=False)
print("Saved renamed columns to 'renamed_columns.csv'")

Saved renamed columns to 'renamed_columns.csv'

In [36]:
df['Power_to_Weight_Ratio'] = df['Power'] / df['Engine']
df[['Name', 'Power', 'Engine', 'Power_to_Weight_Ratio']].to_csv(results_path + "mutated_data.csv", index=False)
print("Saved mutated data with Power_to_Weight_Ratio to 'mutated_data.csv'")

Saved mutated data with Power_to_Weight_Ratio to 'mutated_data.csv'

In [37]:
arranged_df = df.sort_values(by='Mileage', ascending=False)
arranged_df.to_csv(results_path + "sorted_by_mileage.csv", index=False)
print("Saved data sorted by Mileage to 'sorted_by_mileage.csv'")

Saved data sorted by Mileage to 'sorted_by_mileage.csv'

In [38]:
summary_df = df.groupby('Seats').agg(
    Avg_Mileage=('Mileage', 'mean'),
    Avg_Power=('Power', 'mean')
).reset_index()
summary_df.to_csv(results_path + "grouped_summary.csv", index=False)
print("Saved grouped summary by Seats to 'grouped_summary.csv'")

Saved grouped summary by Seats to 'grouped_summary.csv'